NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MISTRAL_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
DOCAI_PROJECT_ID=
DOCAI_LOCATION=
DOCAI_PROCESSOR_ID=
