# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next
out
build

# env
.env
.env.local
.env*.local

# OS
.DS_Store

# logs
*.log
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
